.progress-bar-vertical {
    position: relative;
padding: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 50px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  float: left;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

.icon-dot-box{
    position: absolute;
    top:  0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.icon-dot{
    position: absolute;
    top:  15px;
    left: 15px;
}

.icon-box{
  position: relative;
  background-color: royalblue;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 50px;
}

.icon{
    position: absolute;
    top: 20px;
    left: 15px;
}

.h-10{
    height: 10% !important;
}

.h-90{
    height: 90% !important;
}
.h-80{
    height: 80% !important;
}