// Required
$theme-colors: (
  "primary": #665fbe,
  "secondary": #faeeff,
  "danger": #fb7102
);
//$card-bg: "#faeeff";
@import "../../node_modules/bootstrap/scss/bootstrap";

// Required
@import "../../node_modules/bootstrap/scss/functions";

// Default variable overrides


// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Optional Bootstrap components here
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
// etc
